@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.App {
  text-align: center;
}

::-webkit-scrollbar {
  height: 7px;
}
::-webkit-scrollbar-thumb {
  height: 7px;
  background-color: #d6d2d2;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color:  rgba(0, 0, 0, 0.438)
}
 .body{
   width: 100vw;
 }
.card{
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #eee;
  margin: 15px 15px;
}

.graphSection{
  display: block;
  height: 100vh;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

.dataTable{

  /* border-top: 1px dashed black; */
  /* position: absolute;
  top: 100vh; */
  display: block;
 width: 98vw;
 margin-top: 4vh;

}

.graphContainer{
  width: 60vw;
  margin: 50px auto;
}
.selectField{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  gap: 10px;
}

@media only screen and (max-width: 480px) {
  .graphContainer{
    width: 87vw;
  }
  .graphSection{
    height:60vh;
    margin-bottom: 15vh;
    margin-top: 5vh;
  }
}



